<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Camión</title>
</head>
<body>

        <h1>Acá podemos crear modelos de camiones nuevos</h1>
    
        <form action="/nuevoAuto/" method="post"> {% csrf_token %}

            <p>Marca: <input type="text"> </p>
            <p>Modelo: <input type="text"> </p>
            <p>Año: <input type="number"> </p>
            <p>Color: <input type="text"> </p>

            <input type="submit" value="Guardar">

        </form>

</body>
</html>